.divider {
  border: 1px solid lightgray;
  margin-top: 1.5rem;
}
.overviewBanner {
  font-size: 18px;
}

.loading {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
}
.iconContainer {
  display: none;
  margin-bottom: 2rem;
}
.itemBanner {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 8px;
}
.greenCheckIcon {
  color: #0dab59;
  display: flex;
}
.pricesBorder {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
}
.bold {
  font-weight: bold;
}
.link {
  text-decoration: none;
}
.sumbitButton {
  max-width: 10rem;
  font-size: 18px;
  padding: 0.375rem 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #0dab59;
  font-weight: bold;
  border: none;
  min-height: 3rem;
}

.sumbitButton:hover {
  cursor: pointer;
}
.spaceUp {
  margin-top: 1.5rem;
}
.red {
  color: red;
}
.spacingRight {
  margin-right: 5px;
}

.normalWeight {
  font-weight: normal !important;
}

.footerButtons {
  margin-top: 2rem;
  display: flex;
  gap: 2rem;
  margin-bottom: 2rem;
  /* align-items: center; */
}

.spinner {
  margin-left: 0.5rem;
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top: 4px solid red;
  width: 18px;
  height: 18px;
  animation: spin 1s linear infinite;
}
.spacingLeftKlein {
  margin-left: 5px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.submitButton {
  max-width: 10rem;
  font-size: 18px;
  padding: 0.375rem 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #0dab59;
  font-weight: bold;
  border: none;
  min-height: 3rem;
}

.submitButton:hover {
  cursor: pointer;
}
.innerLoader {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px) {
  .douchebakAndElement {
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    gap: 3rem;
  }
  .optionBanner {
    font-size: 18px;
  }
  .overviewBanner {
    font-size: 20px;
  }
  .itemBanner {
    font-size: 18px;
  }
  .overviewCanvas {
    /* border: 1px solid lightgray; */
    margin-top: 1.5rem;
    border-radius: 6px;
    padding: 0 2rem 1.5rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  .iconContainer {
    display: inline;
  }
  .nodiv {
    display: none;
  }
  .backSCButton {
    display: flex;
    justify-content: right;
  }
  .footerButtons {
    justify-content: right;
    gap: 2.5rem;
  }
}
@media (min-width: 1200px) {
  .innerLoader {
    flex-direction: row;
  }
  .overviewCanvas {
    padding: 0 6rem 2rem 3rem;
  }
  .priceParagraph {
    font-size: 20px;
    margin-left: 1rem;
  }
  .clientInfosInner {
    font-size: 18px;
  }
}
